

		body {	
			padding:0;
			margin:0;
			background-color:white;
			font-family: "Comfortaa";
			overflow: hidden;
		}

		/* make links have a hand cursor */
		a {
			cursor: pointer;
		}

		.hover_link:hover {
			text-decoration: underline;
			cursor: pointer;
		}
		
		h3 {
			font-family: "Comfortaa";
		}

		#DesktopContent-verifyPopUp * {
			font-family: "Comfortaa";
		}				


		/* ===================== Subsystem status div section ================= */

		#subsystemDiv {
			margin: 5px; /* must match _MARGIN/2 in js */
		}

		.subsystem_square {
			background-color: green;
			margin: 5px; /* must match _MARGIN/2 in js */
			float: left;
			border-radius: 5px;
			cursor: pointer;
			overflow-x: auto;
			overflow-y: hidden;
		}
		
		.subsystem_name, .subsystem_console {
			float: left;
			margin-left: 5px;
		}
		.subsystem_name {
			font-weight: bold;
			margin-top: 5px;
		}
		.subsystem_console {
			white-space: nowrap;
			font-size: 12px;
		}
		.subsystem_status {
			position: relative;
			white-space: nowrap;
			margin-left: 5px;
		}

		/* ===================== end Subsystem status div section  */
		
		
		
		
		
		
		
		
		